.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-bottom: 2px solid rgb(0, 0, 0);
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0.5em 1em;
}

.navList {
    list-style: none;
    margin-left: 1em;
    display: flex;
}

.navItem {
    text-decoration: none;
    margin: 1em;
}

.navLink {
    text-decoration: none;
    color: black;

    font-size: 1.3rem;
    font-weight: 500;
}

.active {
    color: black;
}

.passive {
    color: grey;
}
