.dashboardPanel {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.linksContainer {
    display: flex;
    flex-direction: column;

}

.linksList {
    list-style-type: none;
    padding: 0;
}

.link {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #000000;
    color: azure;
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px solid azure;
}

.link:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.link:active {
    background-color: #636262;
    color: rgb(208, 211, 211);
}
