.main {
    width: 90svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;


}

.container {


    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 4em;
}


.title {
    font-size: 3rem;

}

.textWrapper {
    /* border: 1px solid gray; */
    width: 50%;
    padding: 1em 0;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}
